<!DOCTYPE html>
<html lang="en">
<head> 
    <base href="/" />  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>codeStream</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" type="text/css" href="/angular-tree-control/css/tree-control.css">
    <script src="/lodash/lodash.js"></script>
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-tree/dist/angular-ui-tree.js"></script>
    <script src="/angular-recursion/angular-recursion.min.js"></script>
    <link rel="stylesheet" href="/angular-ui-tree/dist/angular-ui-tree.min.css"/>
    <script src="/angular-socket-io/socket.js"></script>
    <script type="text/javascript" src="/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript" src="/angular-ui-ace/ui-ace.js"></script>
    <script type="text/javascript" src="/angular-tree-control/angular-tree-control.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp">
    <navbar></navbar>
    <div ui-view></div>
</body>
</html> 
