
body {
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  color: #681;
  
  min-width: 700px;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

.homepage {

  
  min-height: 500px;
  background-color: black;
  background-image:url("../js/index/codingworld.jpg");
  background-repeat: no-repeat;
  opacity: 0.95;


}

.homewriting {
  text-align: center;
  color: #FFFFFF;
  font-size: 170px;
  vertical-align: center;
  }

.main {
  @include clearfix;
  margin: 0 14px;
  height: 30%;
}

.directory {
  border-radius: 5px 0 0 5px;
  display:inline-block;
  padding: 20px;
  height: 500px;
  width: 250px;
  color: #8B8B8B;
  overflow: scroll;
  background-color: #646464;
  float: left;
  button {
    margin-bottom: 10px;
  }
}

.ace_editor {
  border-radius: 0 5px 5px 0;
  display: inline-block;
  height: 500px;
  width: 58%;
  float: left;
}

.footer {
  border-top: 1px solid;
  padding: 0 10%;
  
  height: 50px;
  color: #8B8B8B;


  margin: 0 165px 0 165px;
  padding-top: 19px;
  color: #525252;
  border-top: 1px solid #b8b8b8;
  span {
    color: magenta;
    padding: 0 3px;
  }
}
