
body {
  font: 14px "Ubuntu", Helvetica, Arial, sans-serif;
  color: #681;
  background: #868686;
  min-width: 700px;
  padding-top: 70px;
}

a {
  color: #00B7FF;
}

.main {
  margin: 0 14px;
  height: 30%;
}

.directory {
  border-radius: 5px 0 0 5px;
  display:inline-block;
  padding: 20px;
  height: 500px;
  width: 250px;
  color: #8B8B8B;
  overflow: hidden;
  background-color: #2c2c2c;
  float: left;
  button {
    margin-bottom: 10px;
  }
}

.ace_editor {
  border-radius: 0 5px 5px 0;
  display: inline-block;
  height: 500px;
  width: 58%;
}

.footer {
  border-top: 1px solid;
  padding: 0 10%;
  
  height: 50px;
  color: #8B8B8B;


  margin: 0 165px 0 165px;
  padding-top: 19px;
  color: #DADADA;
  border-top: 1px solid #e5e5e5;
}
