
  

  <div ng-controller='MainCtrl'>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>   
          </button>
          <a class="navbar-brand" href="#">{{ title }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">sign in</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <section class="main"> 
      <div class="directory">
        <script type="text/ng-template" id="nodes_renderer.html">
          <div ui-tree-handle>
            {{ file.name }}
          </div>
          <ol ui-tree-nodes="" ng-model="file.children">
            <li ng-repeat="file in file.children" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
          </ol>
        </script>
        <div ui-tree>
          <ol ui-tree-nodes="" ng-model="files" id="tree-root">
            <li ng-repeat="file in files" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>
      </div>


      <!-- <pre class="blackboard">{{ liveFile }}</pre> -->

      <div ng-model="liveFile" ui-ace="{
        useWrapMode : false,
        showGutter: true,
        theme:'monokai',
        mode: 'javascript',
        firstLineNumber: 1,
        onLoad: aceLoaded,
        onChange: aceChanged
      }" readonly></div> 

      <span id="chat" class="chatbox">

        <div class="chatform">
          <form id="send-message">
            <input size="35" id="message"></input>
            <!-- <input type="submit"></input> --> 
          </form>
        </div>

        <div class="chatform">
          <script src="http://code.jquery.com/jquery-latest.min.js"></script>
          <script src="/socket.io-client/socket.io.js"></script>
          <script>
            jQuery(function($){
              var socket = io.connect();
              var $messageForm = $('#send-message');
              var $messageBox = $('#message');
              var $chat = $('#chat');

              socket.emit('join', 'juniors');
              
              $messageForm.submit(function(e){
                e.preventDefault();
                var message = {};
                message.room = 'juniors';
                message.message = $messageBox.val();
                // socket.emit('send message', $messageBox.val());
                socket.emit('send message', message);
                $messageBox.val('');
              });
              
              socket.on('new message', function(data){
                $chat.append(data + "<br/>");
              });
            });
          </script>
        </div>
      </span> 
    </section>


<!-- Timeline -->
    <div class="bar">
        <div class="timeline">
          <ol class="ol">
            <li class="entry" ng-repeat="commit in commits">
              {{commit.number}}
              <span class="details">
                {{commit.date | date:'MM/dd/yyyy @ h:mma'}}
              </span>
            </li>
          </ol>
        </div>
    </div>

<!-- end Timeline -->
    <div class="footer">
      <p>made with <span class="glyphicon glyphicon-heart"></span> from team codestream </p>
    </div>

</div>

