.instructchat {
  width: 80%;
  margin:0 10px;
  padding:0px;
  height: 500px;
  background-color: #646464;
  position: relative;
  display: inline-block;
  float: left;
  border-radius: 5px;
  padding: 15px;
}


.parent {
  width: 20%;
  margin:0 10px;
  padding:0px;
  height: 500px;
  background-color: #646464;
  position: relative;
  display: inline-block;
  float: left;
  border-radius: 5px;
  padding: 15px;
}
.header {
  input {
    width: 100%;
    border-radius: 5px;
  }
}

.scrollContainer {
  position: absolute;
  bottom:0px;
  top:55px;
  left:0px;
  right: 0px;
  overflow: scroll; 
}

.innerScroll {
  position: relative;
  padding: 5px;
  
  ul {
    padding: 0px;
    margin: 5px 20px;
    list-style-type: none;
  }
   .bubble {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: #FFF;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 8px;
    border: #7F7F7F solid 2px;
  }
}



