navbar {

  display: block;
  background: #a1a1a1;

  // a {
  //   color: white;
  //   &:hover {
  //     color: white;
  //   }
  // }

  .navbar {
  /*background-color: #33352c;*/
  }
  .navbar-inverse {
    background-color:#646464;
    .navbar-brand {
      color: #85db18;//#28FE14;
      font-size: 1.5em;
    }
  }
  
  .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
  }


  .nav > li > a {
    cursor: pointer;
    &:active {
      color: #85db18;
    }
    &:hover {
      transition: color 0.2s;
    }
    &:focus {
      color: #85db18;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 17px;
    span {
      color: white;
    }
    a {
      color: #85db18;
      cursor: pointer;
    }
  }

}