<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/angular/angular.js'></script>
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/controllers/main.js'></script>
  </head>
  <body ng-app='WebUI' ng-controller='MainCtrl'>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
  </body>
</html>
