<!-- <chat></chat> -->
<div ng-controller="InstructorCtrl">


   <section class="main">
       
<div class="instructchat" ng-controller="ChatCtrl">
   <div class="header ">
      <div class="chatform">
        <form ng-submit="submitChat(chatInput, true)" id="send-message">
          <input placeholder="ask a question..." size="35" id="message" ng-model='chatInput'></input>
        </form>
    </div>
    </div> 
   <div class="scrollContainer">
      <div class="innerScroll" ng-repeat="message in messages track by $index">
        <ul>
          <li class="bubble">{{message}}</li>
        </ul>
      </div>
   </div>
</div>



  
    <span id="chat" class="chatbox">
    <div class="chatform" ng-repeat="message in messages track by $index">
        <ul>
            <li>{{message}}
                <br>
                <br>
            </li>
        </ul>
    </div>
    </span>
    </section>

<!-- Timeline -->
<!-- <timeline></timeline> -->

</div>
<!-- end Timeline -->
