<!DOCTYPE html>
<html>
  <head>
    <title>l2c</title>
    <script src='/angular/angular.js'></script>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/angular-ui-ace/ui-ace.js"></script>
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/controllers/main.js'></script>
    <script src='/javascripts/factories/TimelineFactory.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app='WebUI' ng-controller='MainCtrl'>
    <h1>{{ title }}</h1>

    <section>
      <div class="directory" style="display:inline-block;height:400px;width:200px;background-color:gray;"></div>
      <div class="ace_editor" style="display:inline-block;height:400px;width:600px;" ui-ace="{
        useWrapMode : true,
        showGutter: true,
        theme:'monokai',
        mode: 'javascript',
        firstLineNumber: 1,
        onLoad: aceLoaded,
        onChange: aceChanged
        }">
      </div>
    </section>

    <ol>
      <li ng-repeat="commit in commits">
        {{commit.date | date:'MM/dd/yyyy @ h:mma'}}
        <span class="details">
          {{commit.message}}
        </span>
      </li>
    </ol>

      <span id="chat" class="chatbox">
    <div class="chatform" ng-controller="JuniorChatCtrl">
      <form id="send-message">
        <input size="35" id="message"></input>
        <input type="submit"></input>
      </form>
      </div>

      <div class="chatform">
        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          jQuery(function($){
            var socket = io.connect();
            var $messageForm = $('#send-message');
            var $messageBox = $('#message');
            var $chat = $('#chat');

            socket.emit('join', 'juniors');
            
            $messageForm.submit(function(e){
              e.preventDefault();
              var message = {};
              message.room = 'juniors';
              message.message = $messageBox.val();
              // socket.emit('send message', $messageBox.val());
              socket.emit('send message', message);
              $messageBox.val('');
            });
            
            socket.on('new message', function(data){
              $chat.append(data + "<br/>");
            });
          });
        </script>
      </div>
    </span> 

    



    
  </body>
</html>
