<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/angular/angular.js'></script>
    <script src='/javascripts/app.js'></script>
    <script src='/javascripts/controllers/main.js'></script>
    <script type="text/javascript" src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
  </head>
  <body ng-app='WebUI' ng-controller='MainCtrl'>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

    <span id="chat" class="chatbox">

<div class="chatform" ng-controller="JuniorChatCtrl">
  <form id="send-message">
    <input size="35" id="message"></input>
    <input type="submit"></input>
  </form>
  </div>

  <div class="chatform">
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    jQuery(function($){
      var socket = io.connect();
      var $messageForm = $('#send-message');
      var $messageBox = $('#message');
      var $chat = $('#chat');

      socket.emit('join', 'juniors');
      
      $messageForm.submit(function(e){
        e.preventDefault();
        var message = {};
        message.room = 'juniors';
        message.message = $messageBox.val();
        // socket.emit('send message', $messageBox.val());
        socket.emit('send message', message);
        $messageBox.val('');
      });
      
      socket.on('new message', function(data){
        $chat.append(data + "<br/>");
      });
    });
  </script>
  </div>

    </span>


  </body>
</html>
