body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chat{
			height:500px;
		}

.chatbox{
	height: 300px;
	width: 25%;
	border-color: #605066;
	border: solid;
	border-width: 1px; 
	float: right;
	text-align: center;
	vertical-align: top;
}

.chatform{
	border-color: #605066;
	border: solid;
border-width: 1px;

}